/* экран для 2560 */
@media screen and (min-width: 1920px) and (max-width: 2560px) {
    body, html {
        height: 8000px;
    }
  }

/* экран для 1920 */
@media screen and (min-width: 1440px) and (max-width: 1920px) {
    body, html {
        height: 6000px;
    }
  }

  /* экран для 1440 */
@media screen and (min-width: 1280px) and (max-width: 1440px) {
 body, html {
    height: 4473px;
 }
  }

  /* экран для 1280 */
  @media screen and (min-width: 1024px) and (max-width: 1280px) {

  }

  /* экран для 1024 */
@media screen and (min-width: 834px) and (max-width: 1024px) {

    body, html {
        height: 4800px;
    }

    .block_1 {
        height: 20%;
    }
    .moto {
        margin-top: 15%;
        font-size: 22%;
        margin-bottom: 5%;
    }

    .name {
        font-size: 6%;
    }
    .menubox {
        font-size: 6%;
        right: 30%;
    }

    .carbox {
        width: 100%;
        top: 10%;
        height: 80%;
    }

    .car1 {
        top: 30%;
        width: 60%;
        height: 80%;
        right: 45%;
    }

    .road {
        top: 58%;
        height: 23%;
        width: 55%;
    }

    .line {
        position: relative;
        margin-top: 30%;
    }

    .about_company {
        position: relative;
        margin-top: 5%;
        font-size: 8%;
        width: 60%;
    }

    @keyframes car1 {
        0% {
            right: -100px;
        }
        100% {
            right: 45%;
        }
    }

    .your_road {
        margin: 5% 0 0 25%;
        width: 40%;
        font-size: 7%;
    }

    /* экран 2 */

    #section1 {
        height: 25%;
    }

    .photo_block {
        height: 27%;
    }

    .about_block {
        height: 60%;
    }
    .about_text {
        font-size: 7.5%;
    }

    .car2 {
        top: 25%;

    }

    .block_3 {
        height: 54%;
        z-index: 0;
    }
    .overall {
        font-size: 7%;
        width: 50%;
    }

    .expertise_block ul {
        font-size: 6%;
    }


    .contacts_and_adresses {
        margin-top: 30%;

    }
    #contact_me {
        font-size: 10%;
    }

    #contacts {
        font-size: 7%;}

     .s1,.s2, .numbers {
        font-size: 8%;
     }

    .car4 {
        background-image: url('../images/car5.svg');
        bottom: 7%;
        width: 90%;
        height: 90%;
    }

    .services {
        margin: 60% 0 0 20%;
    }
    .main_services {
        position: relative;
        margin: 8% 0 0 20%;
        font-size: 7%;
    }

    .what_services {
        margin: 3% 0 0 10%;
        font-size: 10%;
    }

    .myservices ul li {
        margin: 5% 0 0 5%;
        font-size: 7%;
        width: 60%;
    }

    .service_two {
        position: relative;
        margin: 2% 12% 0 0;
    }

    .service_two h2{
        margin: 3% 0 0 10%;
        font-size: 10%;
    }

    .service_two ul li {
        margin: 3% 0 0 5%;
        font-size: 7%;
        width: 40%;
    }

    .last_one {
        position: relative;
        height: 1%;
    }

    .menubox2 {
        font-size: 7%;
        right: 38%;
    }

  }

  /* экран для 834 */
  @media screen and (min-width: 549px) and (max-width: 834px) {
    body, html {
        height: 2900px;
    }

    .block_1 {
        height: 33%;
    }
    .moto {
        margin-top: 18%;
        font-size: 25%;
        margin-bottom: 5%;
    }

    .name {
        font-size: 6%;
    }
    .menubox {
        font-size: 8%;
        right: 35%;
    }

    .carbox {
        width: 100%;
        top: 10%;
        height: 80%;
    }

    .car1 {
        top: 35%;
        width: 70%;
        height: 65%;
        right: 42%;
    }

    .road {
        top: 56%;
        height: 23%;
        width: 55%;
    }

    .line {
        position: relative;
        margin-top: 50%;
    }

    .about_company {
        position: relative;
        margin-top: 5%;
        font-size: 8%;
        width: 60%;
    }

    @keyframes car1 {
        0% {
            right: -100px;
        }
        100% {
            right: 42%;
        }
    }

    .your_road {
        margin: 6% 0 0 25%;
        width: 60%;
        font-size: 10%;
    }

    /* экран 2 */

    #section1 {
        height: 50%;
    }

    .photo_block {
        height: 27%;
    }

    .about_block {
        height: 50%;
        width: 50%;
    }
    .about_text {
        font-size: 9%;
    }

    .car2 {
        background-image: url('../images/car6.webp');
        right: 8%;
        top: 34%;
        width: 100%;
        height: 30%;

    }

    .block_3 {
        height: 85%;
    }

    .expertise_block {
        top: 40%;
        left: 18%;
    }
    .overall {
        font-size: 12%;
        width: 100%;
    }

    .expertise_block ul {
        font-size: 10%;
    }

    .icon {
        position: absolute;
        left: -7%; }


    .contacts_and_adresses {
        margin-top: 30%;

    }
    #contact_me {
        font-size: 12%;
    }

    #contacts {
        font-size: 10%;}

     .s1,.s2, .numbers {
        font-size: 12%;
     }

     .social1,  .social2, .social3, .social4, .social5 {
        width: 15%;
        height: 80%;
     }

    .car4 {
        background-image: url('../images/car5.webp');
        bottom: 48%;
        width: 90%;
        height: 20%;
    }

    .services {
        margin: 62% 0 0 18%;
    }
    .main_services {
        position: relative;
        margin: 8% 0 0 17%;
        font-size: 10%;
    }

    .what_services {
        margin: 3% 0 0 3%;
        font-size: 12%;
    }

    .myservices ul li {
        margin: 5% 0 0 10%;
        font-size: 10%;
        width: 65%;
    }

    .service_two {
        align-items: left;
        position: relative;
        margin: 5% 20% 0 0%;
    }

    .service_two h2{
        margin: 4% 0 0 17%;
        font-size: 12%;
    }

    .service_two ul li {
        margin: 3% 0 0 40%;
        font-size: 10%;
        width: 65%;
    }
    .menubox2 {
        font-size: 8%;
        right: 33%;
        top: 19%;}

    .last_one {
        height: 2%;
        bottom: 0;
    }

}


@media screen and (min-width: 428px) and (max-width: 549px) {
    body, html {
        height: 2100px;
    }

    .block_1 {
        height: 33%;
    }
    .moto {
        margin-top: 18%;
        font-size: 25%;
        margin-bottom: 5%;
    }

    .name {
        font-size: 6%;
    }
    .menubox {
        font-size: 8%;
        right: 35%;
    }

    .carbox {
        width: 100%;
        top: 10%;
        height: 80%;
    }

    .car1 {
        top: 35%;
        width: 70%;
        height: 65%;
        right: 42%;
    }

    .road {
        top: 56%;
        height: 23%;
        width: 55%;
    }

    .line {
        position: relative;
        margin-top: 50%;
    }

    .about_company {
        position: relative;
        margin-top: 5%;
        font-size: 8%;
        width: 60%;
    }

    @keyframes car1 {
        0% {
            right: -100px;
        }
        100% {
            right: 42%;
        }
    }

    .your_road {
        margin: 6% 0 0 25%;
        width: 60%;
        font-size: 10%;
    }

    /* экран 2 */

    #section1 {
        height: 50%;
    }

    .photo_block {
        height: 27%;
    }

    .about_block {
        height: 50%;
        width: 50%;
    }
    .about_text {
        font-size: 9%;
    }

    .car2 {
        background-image: url('../images/car6.webp');
        right: 8%;
        top: 34%;
        width: 100%;
        height: 30%;

    }

    .block_3 {
        height: 85%;
    }

    .expertise_block {
        top: 40%;
        left: 18%;
    }
    .overall {
        font-size: 12%;
        width: 100%;
    }

    .expertise_block ul {
        font-size: 10%;
    }

    .icon {
        position: absolute;
        left: -7%; }


    .contacts_and_adresses {
        margin-top: 30%;

    }
    #contact_me {
        font-size: 12%;
    }

    #contacts {
        font-size: 10%;}

     .s1,.s2, .numbers {
        font-size: 12%;
     }

     .social1,  .social2, .social3, .social4, .social5 {
        width: 15%;
        height: 80%;
     }

    .car4 {
        background-image: url('../images/car5.webp');
        bottom: 48%;
        width: 90%;
        height: 20%;
    }

    .services {
        margin: 62% 0 0 18%;
    }
    .main_services {
        position: relative;
        margin: 8% 0 0 17%;
        font-size: 10%;
    }

    .what_services {
        margin: 3% 0 0 3%;
        font-size: 12%;
    }

    .myservices ul li {
        margin: 5% 0 0 10%;
        font-size: 10%;
        width: 65%;
    }

    .service_two {
        align-items: left;
        position: relative;
        margin: 5% 20% 0 0%;
    }

    .service_two h2{
        margin: 4% 0 0 17%;
        font-size: 12%;
    }

    .service_two ul li {
        margin: 5% 0 0 40%;
        font-size: 10%;
        width: 65%;
    }
    .menubox2 {
        font-size: 8%;
        right: 33%;
        top: 19%;}

    .last_one {
        height: 2%;
        bottom: 0;
    }

}

/* -------- */

/* экран для 414 */
@media screen and (min-width: 375px) and (max-width: 428px) {
    body, html {
        height: 2900px;
    }

    .block_1 {
        height: 20%;
    }
    .moto {
        margin-top: 18%;
        font-size: 30%;
        margin-bottom: 5%;
    }

    .name {
        font-size: 6%;
    }
    .menubox {
        font-size: 8%;
        right: 35%;
    }

    .carbox {
        width: 100%;
        top: 10%;
        height: 80%;
    }

    .car1 {
        top: 35%;
        width: 70%;
        height: 65%;
        right: 42%;
    }

    .road {
        top: 56%;
        height: 23%;
        width: 55%;
    }

    .line {
        position: relative;
        margin-top: 50%;
    }

    .about_company {
        position: relative;
        margin-top: 5%;
        font-size: 8%;
        width: 60%;
    }

    @keyframes car1 {
        0% {
            right: -100px;
        }
        100% {
            right: 42%;
        }
    }

    .your_road {
        margin: 6% 0 0 25%;
        width: 60%;
        font-size: 10%;
    }

    /* экран 2 */

    #section1 {
        height: 30%;
    }

    .photo_block {
        height: 27%;
    }

    .about_block {
        height: 50%;
        width: 50%;
    }
    .about_text {
        font-size: 9%;
    }

    .car2 {
        background-image: url('../images/car6.webp');
        right: 8%;
        top: 34%;
        width: 100%;
        height: 30%;

    }

    .block_3 {
        height: 49%;

        bottom: 0;
    }

    .expertise_block {
        top: 40%;
        left: 18%;
    }
    .overall {
        font-size: 12%;
        width: 100%;
    }

    .expertise_block ul {
        font-size: 10%;
    }

    .icon {
        position: absolute;
        left: -7%; }


    .contacts_and_adresses {
        margin-top: 30%;

    }
    #contact_me {
        font-size: 12%;
    }

    #contacts {
        font-size: 10%;}

     .s1,.s2, .numbers {
        font-size: 12%;
     }

     .social1,  .social2, .social3, .social4, .social5 {
        width: 15%;
        height: 80%;
     }

    .car4 {
        background-image: url('../images/car5.webp');
        bottom: 47%;
        width: 90%;
        height: 20%;
    }

    .services {
        margin: 62% 0 0 12%;
    }
    .main_services {
        position: relative;
        margin: 8% 0 0 17%;
        font-size: 12%;
    }

    .what_services {
        margin: 3% 0 0 3%;
        font-size: 15%;
    }

    .myservices ul li {
        margin: 5% 0 0 10%;
        font-size: 12%;
        width: 65%;
    }

    .service_two {
        align-items: left;
        position: relative;
        margin: 5% 20% 0 0%;
    }

    .service_two h2{
        margin: 4% 0 0 17%;
        font-size: 15%;
    }

    .service_two ul li {
        margin: 5% 0 0 40%;
        font-size: 12%;
        width: 65%;
    }

    .last_one {
        height: 2%;
    }

    .menubox2 {
        font-size: 10%;
        right: 30%;
        top: 30%;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 375px) {
body, html {
        height: 2700px;
    }

    .block_1 {
        height: 20%;
    }
    .moto {
        margin-top: 18%;
        font-size: 30%;
        margin-bottom: 5%;
    }

    .name {
        font-size: 6%;
    }
    .menubox {
        font-size: 8%;
        right: 35%;
    }

    .carbox {
        width: 100%;
        top: 10%;
        height: 80%;
    }

    .car1 {
        top: 35%;
        width: 70%;
        height: 65%;
        right: 42%;
    }

    .road {
        top: 56%;
        height: 23%;
        width: 55%;
    }

    .line {
        position: relative;
        margin-top: 50%;
    }

    .about_company {
        position: relative;
        margin-top: 5%;
        font-size: 8%;
        width: 60%;
    }

    @keyframes car1 {
        0% {
            right: -100px;
        }
        100% {
            right: 42%;
        }
    }

    .your_road {
        margin: 6% 0 0 25%;
        width: 60%;
        font-size: 10%;
    }

    /* экран 2 */

    #section1 {
        height: 30%;
    }

    .photo_block {
        height: 27%;
    }

    .about_block {
        height: 50%;
        width: 50%;
    }
    .about_text {
        font-size: 9%;
    }

    .car2 {
        background-image: url('../images/car6.webp');
        right: 8%;
        top: 34%;
        width: 100%;
        height: 30%;

    }

    .block_3 {
        height: 49%;

        bottom: 0;
    }

    .expertise_block {
        top: 40%;
        left: 18%;
    }
    .overall {
        font-size: 12%;
        width: 100%;
    }

    .expertise_block ul {
        font-size: 10%;
    }

    .icon {
        position: absolute;
        left: -7%; }


    .contacts_and_adresses {
        margin-top: 30%;

    }
    #contact_me {
        font-size: 12%;
    }

    #contacts {
        font-size: 10%;}

     .s1,.s2, .numbers {
        font-size: 12%;
     }

     .social1,  .social2, .social3, .social4, .social5 {
        width: 15%;
        height: 80%;
     }

    .car4 {
        background-image: url('../images/car5.webp');
        bottom: 49%;
        width: 90%;
        height: 20%;
    }

    .services {
        margin: 62% 0 0 12%;
    }
    .main_services {
        position: relative;
        margin: 8% 0 0 17%;
        font-size: 12%;
    }

    .what_services {
        margin: 3% 0 0 3%;
        font-size: 15%;
    }

    .myservices ul li {
        margin: 5% 0 0 10%;
        font-size: 12%;
        width: 65%;
    }

    .service_two {
        align-items: left;
        position: relative;
        margin: 10% 20% 0 0%;
    }

    .service_two h2{
        margin: 8% 0 0 17%;
        font-size: 15%;
    }

    .service_two ul li {
        margin: 5% 0 0 40%;
        font-size: 12%;
        width: 65%;
    }

    .last_one {
        height: 2%;
    }

    .menubox2 {
        font-size: 10%;
        right: 30%;
        top: 30%;
    }
  }
  
  @media screen and (max-width: 320px) {
    body, html {
        height: 2200px;
    }

    .block_1 {
        height: 20%;
    }
    .moto {
        margin-top: 18%;
        font-size: 30%;
        margin-bottom: 5%;
    }

    .name {
        font-size: 6%;
    }
    .menubox {
        font-size: 8%;
        right: 35%;
    }

    .carbox {
        width: 100%;
        top: 10%;
        height: 80%;
    }

    .car1 {
        top: 35%;
        width: 70%;
        height: 65%;
        right: 42%;
    }

    .road {
        top: 56%;
        height: 23%;
        width: 55%;
    }

    .line {
        position: relative;
        margin-top: 50%;
    }

    .about_company {
        position: relative;
        margin-top: 5%;
        font-size: 8%;
        width: 60%;
    }

    @keyframes car1 {
        0% {
            right: -100px;
        }
        100% {
            right: 42%;
        }
    }

    .your_road {
        margin: 6% 0 0 25%;
        width: 60%;
        font-size: 10%;
    }

    /* экран 2 */

    #section1 {
        height: 30%;
    }

    .photo_block {
        height: 27%;
    }

    .about_block {
        height: 50%;
        width: 50%;
    }
    .about_text {
        font-size: 9%;
    }

    .car2 {
        background-image: url('../images/car6.webp');
        right: 8%;
        top: 34%;
        width: 100%;
        height: 30%;

    }

    .block_3 {
        height: 49%;

        bottom: 0;
    }

    .expertise_block {
        top: 40%;
        left: 18%;
    }
    .overall {
        font-size: 12%;
        width: 100%;
    }

    .expertise_block ul {
        font-size: 10%;
    }

    .icon {
        position: absolute;
        left: -7%; }


    .contacts_and_adresses {
        margin-top: 30%;

    }
    #contact_me {
        font-size: 12%;
    }

    #contacts {
        font-size: 10%;}

     .s1,.s2, .numbers {
        font-size: 12%;
     }

     .social1,  .social2, .social3, .social4, .social5 {
        width: 15%;
        height: 80%;
     }

    .car4 {
        background-image: url('../images/car5.webp');
        bottom: 49%;
        width: 90%;
        height: 20%;
    }

    .services {
        margin: 62% 0 0 12%;
    }
    .main_services {
        position: relative;
        margin: 8% 0 0 17%;
        font-size: 12%;
    }

    .what_services {
        margin: 3% 0 0 3%;
        font-size: 15%;
    }

    .myservices ul li {
        margin: 5% 0 0 10%;
        font-size: 12%;
        width: 65%;
    }

    .service_two {
        align-items: left;
        position: relative;
        margin: 10% 20% 0 0%;
    }

    .service_two h2{
        margin: 8% 0 0 17%;
        font-size: 15%;
    }

    .service_two ul li {
        margin: 5% 0 0 40%;
        font-size: 12%;
        width: 65%;
    }

    .last_one {
        height: 2%;
    }

    .menubox2 {
        font-size: 10%;
        right: 30%;
        top: 30%;
    }
  }